{% extends 'user_backend/index.html.twig' %}

{% block content %}
<h2 class="col-xs-12">Kurse</h2>

<div class="courses-list col-lg-12">
	{% for course in courses %}
	<div class="course col-lg-4">
		<a href="{{ path('course', {'id': course.id}) }}" alt="" >
			<img src="{{ course.thumbnail }}" alt="{{ course.description }}" />
			<div class="course-name">{{ course.name }}</div>
			<div class="call-to-action">{% if course.test == 1 %}Kostenlosen{%endif%} Kurs jetzt starten!</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}