@import url("variables.less");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);

html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px; 
}

/* HOME */
#home {
    /* Negative indent footer by its height */
    margin: 70px auto 0px; 
    /* Pad bottom by footer height */
    padding: 0px 0 74px;
    font-family: 'Open Sans', sans-serif;

    @media(min-width: @tablet-portrait) {
        margin: 95px auto 0px;   
    }
}

.header-wrapper {
    height: 710px;
    background-image: #ccc;
    background-image: url('../images/layout/header_top.jpg');
    background-position: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;

    /* Retina */
    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
        only screen and (    min--moz-device-pixel-ratio: 1.3 ),
        only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
        only screen and (         min-device-pixel-ratio: 1.3 ),
        only screen and ( min-resolution: 124.8dpi ),
        only screen and ( min-resolution: 1.3dppx ) {

        background: url('../images/layout/header_top@2x.jpg');
        background-position: 100% 100%; 
        background-size: 100% 100%; 
    }

    .motivation-text-container {
        color: #fff;
        padding: 0px @sidebar-width 0px @sidebar-width;

        @media(min-width: @desktop-large) {
            padding: 0px @sidebar-width-large 0px @sidebar-width-large;
        } 

        @media(min-width: @desktop-x-large) {
            padding-right: @sidebar-width-x-large; 
            padding-left: @sidebar-width-x-large;  
        }

        @media(max-width: @phone-portrait) {
            padding-right: 0px; 
            padding-left: 0px;  
        }

        .motivation-text {
            background-color: @brand-color;
            text-align: center;
            margin-top: 60px;
            padding: 0 20px;

            @media(max-width: @tablet-landscape) {
                display: none;
            }

            h2 {
                margin: 0;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size: 22px;
                line-height: 55px;

                @media(max-width: @desktop) {
                    font-size: 19px;
                }
            }
        }
    }

    .teaser-text-wrapper {
        padding: 0px @sidebar-width 0px @sidebar-width;

        @media(min-width: @desktop-large) {
            padding: 0px @sidebar-width-large 0px @sidebar-width-large;
        } 

        @media(min-width: @desktop-x-large) {
            padding-right: @sidebar-width-x-large; 
            padding-left: @sidebar-width-x-large;  
        }

        @media(max-width: @phone-portrait) {
            padding-right: 0px; 
            padding-left: 0px;  
        }

        .teaser-text-container {
            color: #fff;

            .teaser-text {
                margin-top: 100px;
                padding-left: 10px;

                @media(max-width: 991px) {
                    margin-top: 20px;
                    padding-left: 10px;
                    text-align: center;
                }

                .sm {
                    margin: 0px;
                    font-size: 25px;
                    line-height: 27px;
                }

                .md {
                    font-size: 40px;
                    padding: 0;
                    margin: 0;
                    line-height: 41px;
                }

                .lg {
                    font-size: 60px;
                    margin: 0px;
                    padding: 0px;
                    line-height: 100px;
                }
            }
        }

        .cloud-text-container {
            color: #fff;
            position: relative;

            @media(max-width: 991px) {
                margin-top: 20px;
            }

            .cloud {
                display: block;
                text-align: center;
                position: absolute;

                @media(max-width: 991px) {
                    position: initial;
                    text-align: center;
                    margin: 10px auto;
                }
            }

            .cloud-text-1 {
                top: 40px;
                right: 215px;
                font-size: 16px;
                width: 226px;
                height: 91px;
                background-image: url('../images/layout/cloud_small.png');
                padding: 32px;

                @media(max-width: @desktop) {
                    right: 135px;
                }

                .sm {
                    line-height: 20px;
                }
            }

            .cloud-text-2 {
                top: 113px;
                right: 475px;
                font-size: 16px;
                width: 226px;
                height: 91px;
                background-image: url('../images/layout/cloud_small.png');
                padding: 32px;

                @media(max-width: @desktop) {
                    right: 330px;
                }

                .sm {
                    line-height: 20px;
                }
            }

            .cloud-text-3 {
                top: 175px;
                right: 10px;
                font-size: 16px;
                width: 226px;
                height: 91px;
                background-image: url('../images/layout/cloud_small.png');
                padding: 32px;

                .sm {
                    line-height: 20px;
                }
            }

            .cloud-text-4 {
                top: 232px;
                right: 220px;
                font-size: 20px;
                width: 329px;
                height: 158px;
                background-image: url('../images/layout/cloud_big.png');
                padding: 80px 75px 0px 75px;

                @media(max-width: @desktop) {
                    right: 170px;
                }

                @media(max-width: 991px) {
                    top: 175px;
                    right: 10px;
                    font-size: 16px;
                    width: 226px;
                    height: 91px;
                    background-image: url('../images/layout/cloud_small.png');
                    padding: 32px;
                }

                .sm {
                    line-height: 23px;
                }
            }
        }
    }

    .more-container {
        position: absolute;
        bottom: 0px;
        left: 0;
        text-align: center;
        color: #fff;

        @media(max-width: 991px) {
            display: none;
        }

        .more-text {
            width: 209px;
            height: 50px;
            line-height: 50px;
            border: 1px solid #fff;
            margin: 0 auto 30px;
            cursor: pointer;

            .text-item {
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }

            .arrow-down {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                margin: -3px auto;
            }
        }
    }

}

#home .description-wrapper { 
    padding: 0px @sidebar-width 0px @sidebar-width;
    background-color: #e6e6e6;
    color: @text-color;
    font-size: 14px;

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    .description-text {
        margin-top: 75px;

        @media(max-width: 991px) {
            margin-top: 50px;
        }
 
        .register-form {
            padding: 0px;
            margin-top: 40px;
            margin-bottom: 60px;

            .register-input-container {
                padding: 0px;

                .register-input { 
                    font-family: 'Open Sans', sans-serif; 
                }

                .btn {
                    background-color: #e6e6e6;

                    @media(max-width: 991px) {
                        width: 100%;
                        margin-top: 20px;
                    }

                }
            }
        }
    }

    .description-image {
        text-align: center;
        margin-top: 75px;
        margin-bottom: 60px;

        img {
            width: 80%;
        }
    }

}

#home .how-it-works-wrapper {
    background-image: url('../images/layout/walkingman.jpg');
    background-position: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0px @sidebar-width 0px @sidebar-width;

    /* Retina */
    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
        only screen and (    min--moz-device-pixel-ratio: 1.3 ),
        only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
        only screen and (         min-device-pixel-ratio: 1.3 ),
        only screen and ( min-resolution: 124.8dpi ),
        only screen and ( min-resolution: 1.3dppx ) {

        background: url('../images/layout/walkingman@2x.jpg');
        background-position: 100% 100%; 
        background-size: 100% 100%;
    }

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    .headline {
        text-align: center;
        margin-top: 30px;
        color: #fff;
        font-size: 24px;
        font-weight: 300;   
    }

    .workflow {
        margin: 40px 0;
        position: relative;
        height: 450px;

        .workflow-item {
            position: relative;
            color: #fff;

            @media(max-width: @tablet-portrait) {
                margin: 10px auto;
                text-align: center;
                margin-left: 0px !important;
            }

            span {
                margin-left: -15px;
                font-size: 18px;
                font-weight: 300;
            }
        }

        .workflow-item-1 {
            margin-left: 32%;
        }

        .workflow-item-2 {
            margin-left: 62%;
        }

        .workflow-item-3 {
            margin-left: 27%;
        }

        .workflow-item-4 {
            margin-left: 58%;
        }

        .workflow-item-5 {
            margin-left: 34%;
        }

    }
}

#home .why-avinga {
    padding: 0px @sidebar-width 0px @sidebar-width;

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    text-align: center;

    .headline {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0px;
        color: @text-color;
        font-size: 24px;
        font-weight: 300;   
    }

    .why-avinga-text-wrapper {
        text-align: center;
        margin: 0 auto; 
        margin-bottom: 30px;
        display: block;

        p {
            margin: 30px 0;
            padding: 0px @sidebar-width-large;

            @media(max-width: @tablet-landscape) {
                padding-right: 20px; 
                padding-left: 20px;  
            }

            
        }

        .register-form {
            padding: 0px;
            margin: 0 auto;

            .register-input-container {
                padding: 0px;
                width: 300px;
                margin: 0 auto;
                display: inline-block;

                .register-input { 
                    font-family: 'Open Sans', sans-serif; 
                }

                .btn {
                    background-color: #fff;
                }
            }

            .input {
                width: 300px;

                @media(max-width: 991px) {
                    width: 100%;
                }
            }

            .button {
                width: 150px;


                @media(max-width: 991px) {
                    width: 100%;
                    margin-top: 20px;
                }

                .btn {
                    width: 100%;
                }
            }
        }
    }

}

#home .video-wrapper {
    padding: 0px @sidebar-width 0px @sidebar-width;
    background-color: #c2c2c2; 

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    text-align: center;

    iframe {
        width: 60%;
        margin: 25px 0;

        @media(max-width: @desktop) {
            width: 95%; 
        }
    } 
}

#home .pricing-wrapper {
    padding: 0px @sidebar-width 0px @sidebar-width;

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    .pricing-text {
        text-align: justify;

        h2 {
            text-align: center;
            margin: 30px 0px 30px 0px; 
            color: #333;
            font-size: 24px;
            font-weight: 300;
        }

    }

    .pricing-table-container {
        margin: 30px 0px 30px 0px; 

        @media(max-width: 991px) {
            padding: 0px;
        }

        .pricing-table {

            .price {
                background-color: #2ee29b;
                text-align: center;
                height: 110px;
                font-size: 50px;
                font-weight: 300;
                color: #000;
                padding-top: 13px;

                p {
                    font-size: 14px;
                    margin-top: -10px;
                }
            }

            .arrow-down {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #2ee29b;
                margin: 0px auto;
                z-index: 10;
                position: relative;
            }

            .package-name {
                background-color: #fafafa;
                text-align: center;
                height: 110px;
                font-size: 34px;
                font-weight: 300;
                color: #000;
                padding-top: 25px;
                margin-top: -10px;
            }

            .advantages {
                background-color: #d1d1d1;
                text-align: center;
                color: #000;
                padding: 10px 0px;
                margin-top: -10px;

                p {
                    margin: 15px 0px;
                }
            }

            .call-to-action {
                background-color: #34495e;
                text-align: center;
                color: #fff;
                padding: 5px 0px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

        }
        
    }
}

#home .contact-wrapper {
    padding: 0px @sidebar-width 0px @sidebar-width;
    background-image: url('../images/layout/contact_background.jpg');
    background-position: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 420px;

    /* Retina */
    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
        only screen and (    min--moz-device-pixel-ratio: 1.3 ),
        only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
        only screen and (         min-device-pixel-ratio: 1.3 ),
        only screen and ( min-resolution: 124.8dpi ),
        only screen and ( min-resolution: 1.3dppx ) {

        background: url('../images/layout/contact_background@2x.jpg');
        background-position: 100% 100%; 
        background-size: 100% 100%;
    }

    @media(max-width: 991px) {
        background-position: 50% 0%;
        background-color: #333;
        height: inherit;
    }

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    .contact-text {
        text-align: left;
        color: #fff;

        h2 {
            text-align: left;
            margin: 30px 0px 30px 0px; 
            color: #333;
            font-size: 24px;
            font-weight: 300;
            color: #fff;
        }

        p {
            margin-bottom: 40px;
        }

        .social-media {
            font-size: 35px;
            margin-top: 40px;

            .media-icon {
                border-radius: 60px;
                width: 60px;
                height: 60px;
                position: relative;
                display: inline-block;
                text-decoration: none;

                i {
                    position: absolute;
                    left: 15px;
                    top: 12px;
                }
            }

            .facebook-icon {
                background-color: #43619d;
                color: #fff;
            }

            .twitter-icon {
                background-color: #24a8e6;
                color: #fff;
            }

            .instagram-icon {
                background-color: #2a5b83;
                color: #fff;
            }

            .gplus-icon {
                background-color: #f24034;
                color: #fff;
                i {
                    position: absolute;
                    left: 8px;
                    top: 12px;
                }
            }
        }

    }

    .contact-form-container {
        @media(max-width: 991px) {
            padding: 0px;
        }

        .contact-form {
            width: 100%;
            margin: 30px 0px 30px 0px; 

            form {

                .form-group {

                    input {
                        width: 100%;
                        border-radius: 0px;
                        padding: 5px 10px;
                        border: 1px solid #fff;
                        background-color: transparent;
                        font-family: 'Open Sans', sans-serif;
                        color: #fff;
                    }

                    textarea {
                        width: 100%;
                        border-radius: 0px;
                        padding: 5px 10px;
                        border: 1px solid #fff;
                        background-color: transparent;
                        font-family: 'Open Sans', sans-serif;
                        color: #fff;
                    }

                    .contact-submit {
                        width: 100%;
                        background-color: @brand-color;
                        border-radius: 0px;
                        border: none;
                        color: #fff;
                    }

                }

            }            

        }

    }
}


/* Footer */ 
#footer {
    height: 370px;
    background-color: #292929;
    color: #fff;
    padding: 0px @sidebar-width 0px @sidebar-width;
    font-family: 'Open Sans', sans-serif;
    position: relative;

    @media(max-width: @tablet-portrait) {
        height: inherit;
    }

    @media(min-width: @desktop-large) {
        padding: 0px @sidebar-width-large 0px @sidebar-width-large;
    } 

    @media(min-width: @desktop-x-large) {
        padding-right: @sidebar-width-x-large; 
        padding-left: @sidebar-width-x-large;  
    }

    @media(max-width: @phone-portrait) {
        padding-right: 0px; 
        padding-left: 0px;  
    }

    .footer-contact {
        margin-top: 60px;

        @media(max-width: @tablet-portrait) {
            text-align: center;
            margin-top: 30px;
        }

        .footer-contact-headline {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .footer-contact-item {
            font-size: 15px;
            margin-bottom: 20px;
            font-weight: 300;

            i {
                margin-right: 5px;
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }
        
    }

    .footer-general {
        margin-top: 60px;

        @media(max-width: @tablet-portrait) {
            text-align: center;
            margin-top: 30px;
        }

        .footer-general-headline {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 29px;
        }

        .footer-general-item {
            font-size: 15px;
            margin-bottom: 10px;
            font-weight: 300;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
        
    }

    .footer-trust-signals {
        margin-top: 35px;
        text-align: right;

        @media(max-width: @tablet-portrait) {
            text-align: center;
            margin-top: 0px;
        }

        .footer-trust-signals-item {
            margin-bottom: 20px;

            @media(max-width: @tablet-portrait) {
                margin-bottom: 30px;
            }

            .home-link {
                text-decoration: none;

                @media(max-width: @tablet-portrait) {
                    text-align: center;
                }

                img {
                    display: inline-block;
                    margin-right: 10px;
                    width: 55px;
                    margin-top: -15px;
                }

                h3 {
                    display: inline-block;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 300;
                    font-size: 40px;
                }

            }

            .hosted-in-germany-logo {
                width: 150px;
                margin-top: 40px;

                @media(max-width: @tablet-portrait) {
                    margin-top: 0px;
                }
            }
        }
    }

    .company-info {
        text-align: center;
        color: #cccccc;
        position: absolute;
        bottom: 5px;
        left: 0px;
        font-size: 12px;

        @media(max-width: @tablet-portrait) {
            position: relative;
        }

        .company-info-item {

        }

    }

}
