@phone-portrait:	480px;
@phone-landscape:	767px; 
@tablet-portrait:	768px; 
@tablet-landscape:  991px;
@tablet-landscape-old:	979px; 
@desktop:			1200px;
@desktop-large:		1400px;
@desktop-x-large:	1700px;

@text-color: 	#333;
@brand-color: 	#77c297;

@sidebar-width: 		70px;
@sidebar-width-large: 	200px;
@sidebar-width-x-large: 300px;