{% block navigation %}
<div id="footer" class="col-lg-12">
	<div class="seperator"></div>
	<p class="">© AWAREIT UG 2016 - </p>
	<a href="{{ path('homepage') }}impressum.html" alt="Impressum">Impressum</a>
</div>
{% endblock %}