{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <div id="container">
            <div class="carousel-teaser">

			<!--  Carousel - consult the Twitter Bootstrap docs at http://twitter.github.com/bootstrap/javascript.html#carousel -->
			<div id="quotations-carousel" class="carousel slide"><!-- class of slide for animation -->
				<div class="carousel-inner">
					<div class="item active"><!-- class of active since it's the first item -->
						<div class="carousel-caption">
							<p>You can do anything, but not everything.</p>
							<p class="author">— David Allen</p>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<p>Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</p>
							<p class="author">— Antoine de Saint-Exupéry</p>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<p>The richest man is not he who has the most, but he who needs the least.</p>
							<p class="author">— Unknown Author</p>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<p>Courage is not the absence of fear, but rather the judgement that something else is more important than fear.</p>
							<p class="author">— Ambrose Redmoon</p>
						</div>
					</div>
				</div><!-- /.carousel-inner -->
				<!--  Next and Previous controls below href values must reference the id for this carousel -->
				<a class="carousel-control left" href="#quotations-carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#quotations-carousel" data-slide="next">&rsaquo;</a>
			</div>

            </div>
        </div>
    </div>



<script>
$(document).ready(function(){
	$('.carousel').carousel({
	  interval: 100000
	});
  });
</script>
{% endblock %}