{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <div id="container">
            <div class="carousel-teaser">

				<!--  Carousel - consult the Twitter Bootstrap docs at http://twitter.github.com/bootstrap/javascript.html#carousel -->
				<div id="quotations-carousel" class="carousel slide"><!-- class of slide for animation -->
					<div class="carousel-inner">
						<div class="item active"><!-- class of active since it's the first item -->
							<div class="carousel-caption">
								<p>You can do anything, but not everything.</p>
								<p class="author">— David Allen</p>
							</div>
						</div>
						<div class="item">
							<div class="carousel-caption">
								<p>Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</p>
								<p class="author">— Antoine de Saint-Exupéry</p>
							</div>
						</div>
						<div class="item">
							<div class="carousel-caption">
								<p>The richest man is not he who has the most, but he who needs the least.</p>
								<p class="author">— Unknown Author</p>
							</div>
						</div>
						<div class="item">
							<div class="carousel-caption">
								<p>Courage is not the absence of fear, but rather the judgement that something else is more important than fear.</p>
								<p class="author">— Ambrose Redmoon</p>
							</div>
						</div>
					</div><!-- /.carousel-inner -->
					<!--  Next and Previous controls below href values must reference the id for this carousel -->
					<a class="carousel-control left" href="#quotations-carousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#quotations-carousel" data-slide="next">&rsaquo;</a>
				</div>

            </div>

            <div class="motivation-text row">
            	<div class="col-md-12">
	            	<h2>
	            		Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            		nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            	</h2>
            	</div>
            </div>

            <div class="trust-signal row">
            	<div class="col-md-12">
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-1">
	            			<div class="catchword">
	            				Sicherheit
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-2">
	            			<div class="catchword">
	            				Nachhaltigkeit
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-3">
	            			<div class="catchword">
	            				Awarneness
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-4">
	            			<div class="catchword">
	            				Konzepte
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
            	</div>
            </div>

            <div class="service row">
            	<a name="service"></a>
            	<div class="col-md-12">
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box desktop box-1"></div>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-2 desktop-text">
	            			<div class="catchword">
	            				Innovative Videolehrgänge
	            			</div>
	            			<div class="seperator"></div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div>

            <div class="service para-background row">
            	<div class="col-md-12">
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-2 mobil">
	            			<div class="catchword light">
	            				Interessante Aufgaben
	            			</div>
	            			<div class="seperator light"></div>
	            			<div class="description light">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box tablet box-1"></div>
	            	</div>
	            </div>
            </div>

            <div class="pricing row">
            	<a name="pricing"></a>
            	<div class="col-md-12">
            		<div class="catchword">
            			Preise
            		</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Leistungen</th>
									<th>Basic</th>
									<th>Advanced</th>
									<th>Professional</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>inkl. Mitarbeiter</td>
									<td>15 Mitarbeiter</td>
									<td>50 Mitarbeiter</td>
									<td>unbegrenzt Mitarbeiter</td>
								</tr>
								<tr>
									<td>eigenes Dashboard</td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>Standard Schulungen</td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>anonymisierte Schulungsergebnisse</td>
									<td><i class="fa fa-times" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>Erweiterte Sicherheitsschulungen</td>
									<td><i class="fa fa-times" aria-hidden="true"></i></td>
									<td><i class="fa fa-times" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>monatl. Kosten</td>
									<td>59,00€</td>
									<td>79,00€</td>
									<td>99,00€</td>
								</tr>
							</tbody>
						</table>
					</div>
            	</div>
            </div>

        </div>
    </div>



<script>
$(document).ready(function(){
	$('.carousel').carousel({
	  interval: 100000
	});
});
</script>
{% endblock %}