{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <div id="container">

        	<div class="header-wrapper col-xs-12">

        		<div class="col-xs-12 motivation-text-container">
	            	<div class="motivation-text">
		            	<h2>
		            		Vorsorge ist die beste Versicherung vor einem Schadensfall in Ihrem Unternehmen
		            	</h2>
	            	</div>
	            </div>

	            <div class="col-xs-12 teaser-text-wrapper">

	        		<div class="col-xs-4 teaser-text-container">
	        			<div class="teaser-text">
	        				<p class="text-item lg">60%</p>
	        				<p class="text-item sm">aller Sicherheitsvorfälle in</p>
	        				<p class="text-item sm">der IT gehen von</p>
	        				<p class="text-item md">Mitarbeitern</p>
	        				<p class="text-item sm">aus.</p>
	        			</div>
	        		</div>

	        		<div class="col-xs-8 cloud-text-container">
	        			<div class="cloud cloud-text-1">
	        				<p class="text-item sm">Zeit & Standort unabhängig</p>
	        			</div>
	        			<div class="cloud cloud-text-2">
	        				<p class="text-item sm">Sensibilisierung Ihrer Mitarbeiter</p>
	        			</div>
	        			<div class="cloud cloud-text-3">
	        				<p class="text-item sm">verständliche Videokurse</p>
	        			</div>
	        			<div class="cloud cloud-text-4">
	        				<p class="text-item sm">Cloudlearning Konzept</p>
	        			</div>
	        		</div>

        		</div>

        		<div class="col-xs-12 more-container">
        			<div class="more-text">
        				<a class="text-item">Mehr erfahren</a>
        				<div class="arrow-down"></div>
        			</div>
        		</div>

        	</div>

        	<div class="description-wrapper col-xs-12">
        		<div class="description-text col-md-5">
        			<p>Wir von AVINGA wollen nicht weniger als die Welt sicherer
        				machen. Wir bieten Services für Unternehmen an, die dort gegenstuern
        				wo Angreifer ansetzen und Firewalls versagen.</p>
    				<p>Vorsorge ist die beste Versicherung vor einem Schadensfall in Ihrem Unternehmen.
    					Ein Großteil der Angriffe kann durch Wissen und das richtige Handeln unterbunden werden.</p>
					<p>Jährlich entstehen Schänden i.H.v. xxx € alleine durch Phishing, Viren und Angriffen auf 
						Unternehmensnetzwerke.</p>
					<p>AVINGA ist mehr als ein Vorsorgekonzept, wir bieten intelligente CloudLearning-Kurse die
						Ihr Unternehmen zu einem sichereren Ort machen und Ihre Mitarbeiter dauerhaft wappnen.</p>
					<p>AVINGA - the power of precaution</p>

					<div class="register-form col-xs-12">
						<div class="register-input-container col-md-8 col-xs-12">
							<input type="text" class="form-control register-input" placeholder="Ihre E-Mail Adresse" />
						</div>
						<div class="register-input-container col-md-4 col-xs-12">
							<button type="submit" class="btn btn-default">Gratiskurs testen</button>
						</div>
					</div>
        		</div>
        		<div class="description-image col-md-7">
        			<img src="" alt="Screenshot der AVINGA Anwendung"/>
        		</div>
        	</div>

        	<div class="how-it-works-wrapper col-xs-12">
        		<div class="headline col-xs-12">Ihr Weg zu einem sicheren Unternehmen</div>
        		<div class="workflow col-xs-12">
        			<div class="workflow-item workflow-item-1"><img src="" alt="Check"/>Kostenlos registrieren</div>
        			<div class="workflow-item workflow-item-2"><img src="" alt="Check"/>Tarif wählen</div>
        			<div class="workflow-item workflow-item-3"><img src="" alt="Check"/>Mitarbeiter hinzufügen</div>
        			<div class="workflow-item workflow-item-4"><img src="" alt="Check"/>Kurse absolvieren</div>
        			<div class="workflow-item workflow-item-5"><img src="" alt="Check"/>Leistungen einsehen & bewerten</div>
        		</div>
        	</div>

        	<div class="why-avinga col-xs-12">
        		<div class="headline col-xs-12">Was spricht für AVINGA?</div>
        		<div class="why-avinga-text-wrapper col-xs-12">
        			<p>Bekämpfen Sie Gefahren bevor sie entstehen und genießen Sie einen exklusiven Schutz vor Angreifern</p>
        			<p>Monatliche Sicherheitsschulungen in weit gefächertem Bereichen helfen Ihnen und Ihren Mitarbeiten in
        				entpsannter Atmosphäre zu arbeiten und dabei die Sicherheit nicht aus den Augen zu verlieren.</p>
    				<p>Eine langfristige aktuelle Sensibilisierung ist die sinnvolste Methode um immer mit aktuellen Themen in Berührung zu bleiben 
    					und Ihre Mitarbeite ausreichend zu schulen.</p>
					<div class="register-form col-xs-12">
						<div class="register-input-container input">
							<input type="text" class="form-control register-input" placeholder="Ihre E-Mail Adresse" />
						</div>
						<div class="register-input-container button">
							<button type="submit" class="btn btn-default">Gratiskurs testen</button>
						</div>
					</div>
        		</div>
        	</div>

        	<div class="video-wrapper col-xs-12">
        		<iframe src=""></iframe>
        	</div>

            

            <div class="trust-signal">
            	<div class="col-md-12">
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-1">
	            			<div class="catchword">
	            				Sicherheit
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-2">
	            			<div class="catchword">
	            				Nachhaltigkeit
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-3">
	            			<div class="catchword">
	            				Awarneness
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-4">
	            			<div class="catchword">
	            				Konzepte
	            			</div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
            	</div>
            </div>

            <div class="service row">
            	<a name="service"></a>
            	<div class="col-md-12">
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box desktop box-1"></div>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-2 desktop-text">
	            			<div class="catchword">
	            				Innovative Videolehrgänge
	            			</div>
	            			<div class="seperator"></div>
	            			<div class="description">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div>

            <div class="service para-background row">
            	<div class="col-md-12">
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box box-2 mobil">
	            			<div class="catchword light">
	            				Interessante Aufgaben
	            			</div>
	            			<div class="seperator light"></div>
	            			<div class="description light">
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            				Nachhaltige Sicherheitskonzepte müssen für Mitarbeiter sichtbar, 
	            				nachvollziehbar und fester Bestandteil ihres Arbeitsalltags sein.
	            			</div>
	            		</div>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 wrapper">
	            		<div class="box tablet box-1"></div>
	            	</div>
	            </div>
            </div>

            <div class="pricing row">
            	<a name="pricing"></a>
            	<div class="col-md-12">
            		<div class="catchword">
            			Preise
            		</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Leistungen</th>
									<th>Basic</th>
									<th>Advanced</th>
									<th>Professional</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>inkl. Mitarbeiter</td>
									<td>15 Mitarbeiter</td>
									<td>50 Mitarbeiter</td>
									<td>unbegrenzt Mitarbeiter</td>
								</tr>
								<tr>
									<td>eigenes Dashboard</td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>Standard Schulungen</td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>anonymisierte Schulungsergebnisse</td>
									<td><i class="fa fa-times" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>Erweiterte Sicherheitsschulungen</td>
									<td><i class="fa fa-times" aria-hidden="true"></i></td>
									<td><i class="fa fa-times" aria-hidden="true"></i></td>
									<td><i class="fa fa-check" aria-hidden="true"></i></td>
								</tr>
								<tr>
									<td>monatl. Kosten</td>
									<td>59,00€</td>
									<td>79,00€</td>
									<td>99,00€</td>
								</tr>
							</tbody>
						</table>
					</div>
            	</div>
            </div>

        </div>
    </div>



<script>
$(document).ready(function(){
	$('.carousel').carousel({
	  interval: 100000
	});
});
</script>
{% endblock %}