{% block navigation %}
	<div class="navigation ">
		<div class="logo">
			<a href="#">Awareit</a>
		</div>
		<div class="nav-point">
			<a href="#">Home</a>
		</div>
		<div class="nav-point">
			<a href="#">About</a>
		</div>
		<div class="nav-point">
			<a href="#">Service</a>
		</div>
		<div class="nav-point">
			<a href="#">Price</a>
		</div>
		<div class="nav-point">
			<a href="#">Kontakt</a>
		</div>
		<div class="nav-point">
			<a href="#">Login</a>
		</div>
	</div>
{% endblock %} 